@import "./reset.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: "Quicksand", sans-serif;
}

body {
  background: #000000 url(https://wallpaperaccess.com/full/38580.jpg) fixed no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#nav-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

#nav-area .nav-menu {
  margin-top: 1rem;
  height: 50%;
  width: auto;
  font-size: 1.3rem;
}

.frosted-glass {
  display: flex;
  justify-content: center;
  width: 50%;
  background: inherit;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0 auto;
  /* box-sizing: border-box; */
  box-shadow: 0 .5em 1em rgba(0, 0, 0, .3);
  height: 80%;
  border-radius: 2%;
}

.frosted-glass::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  box-shadow: inset 0 0 3000px rgba(255, 255, 255, .5);
  filter: blur(8px);
  margin: -20px;
}

#body-area {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#body-area .container {
  border-radius: 3%;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
}

#body-area h1 {
  color: #BF7C2A;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#body-area .line {
  text-align: center;
  width: 80%;
  border-bottom: 1px solid #595137;
}

#body-area button {
  background: #593A1E;
  color: white;
  font-size: 1.75rem;
  /* margin: 4rem 0 0 0; */
  width: 80%;
  border-radius: 3%;
  opacity: .6;
  border: .5px solid black;
  margin-top: 2rem;
}

#body-area form {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  margin: auto;
  width: 80%;
}

#body-area label {
  margin: .5rem 0;
  font-size: 1.3rem;
  color: #2C4459;
  font-weight: 600;
}

#body-area input {
  margin: .5rem 0;
  width: 80%;
  height: auto;
  opacity: .4;
  line-height: 1.5rem;
  border-radius: 3%;
  transition: transform .75s ease-in-out;

}

#body-area input::placeholder {
  font-size: 1rem;
}
#body-area input:hover {
  border: 1.5px solid #FFFB00;
  transform: scale(1.1);
}

#footer-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

#footer-area .footer-menu {
  font-size: 1.3rem;
  height: auto;
}
